/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Roboto, sans-serif;
}

/* Header */
.header {
    position: relative;
    background: url(../images/bg-header.png) no-repeat top center;
    background-size: cover;
}
.logo {
    margin-top: 20px;
}
.logo-image {
    display: block;
}
.banner {
    margin-top: -70px;
    height: 700px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}
#typingArea {
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
}
#typingArea .sentence {
    display: none;
}

/* Tech Stack */
.tech-stack {
    padding: 47px 0;
    text-align: center;
    background-color: #292B37;
}
.tech-stack .title {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 62px;
    font-size: 3.875rem;
    line-height: 86px;
    color: #02A959;
    margin: 0;
}
.tech-stack .desc {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    padding: 10px 360px 0;
}
.tech-stack .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
}
.tech-stack .list .item {
    padding: 25px 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.tech-stack .list .image {
    display: block;
}

/* Open Positions */
.open-positions {
    padding: 47px 0;
    text-align: center;
    background: #fff;
}
.open-positions .title {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 62px;
    font-size: 3.875rem;
    line-height: 86px;
    color: #02A959;
    margin: 0;
}
.open-positions .desc {
    font-size: 16px;
    line-height: 30px;
    color: #767676;
    font-weight: 400;
    padding: 10px 360px 0;
}
.open-positions .list {
    margin-top: 40px;
}
.open-positions .list .item {
    margin-top: 35px;
    background: #fff;
    border: 1px solid #ECECEC;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.09);
    -webkit-transition: border-color .3s ease;
            transition: border-color .3s ease;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.open-positions .list .item:hover {
    border-color: #02A959;
    cursor: pointer;
}
.open-positions .list .image-wrap {
    width: 84px;
}
.open-positions .list .image {
    display: block;
    margin: auto;
}
.open-positions .list .text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 23px;
    font-size: 1.438rem;
    line-height: 30px;
    color: #616572;
    text-align: left;
    font-family: "Roboto Slab", sans-serif;
    -webkit-transition: color .3s ease;
            transition: color .3s ease;
}
.open-positions .list .item:hover .text {
    color: #02A959;
}

/* Our Vision */
.our-vision {
    padding: 47px 0;
    text-align: center;
    background: #F9F9F9;
}
.our-vision .title {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 62px;
    font-size: 3.875rem;
    line-height: 86px;
    color: #02A959;
    margin: 0;
}
.our-vision .desc {
    font-size: 16px;
    line-height: 30px;
    color: #767676;
    font-weight: 400;
    padding: 10px 360px 0;
}
.our-vision .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 65px;
}
.our-vision .list .item {
    padding-left: 35px;
    padding-right: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
}
.our-vision .list .image {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.our-vision .list .text {
    color: #4A4A4A;
    font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
}

/* Contact */
.contact {
    padding: 65px 0 130px;
    text-align: center;
    background-color: #292B37;
}
.contact .heading-small {
    color: #fff;
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 76px;
    font-weight: 700;
    font-family: "Roboto Slab", sans-serif;
}
.contact .heading-large {
    color: #02A959;
    font-size: 62px;
    font-size: 3.875rem;
    line-height: 76px;
    font-weight: 700;
    font-family: "Roboto Slab", sans-serif;
}
.contact .center-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.contact .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.contact .list .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 65px;
}
.contact .list .image {
    display: block;
}
.contact .list .text-wrap {
    margin-left: 30px;
    text-align: left;
}
.contact .list .text-title {
    color: #02A959;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
.contact .list .text-content,
.contact .list .link {
    color: #fff;
    font-size: 32px;
    font-size: 2rem;
    line-height: 38px;
}
.contact .list .link:hover {
    cursor: pointer;
}

/* Responsive */
@media (max-width: 1200px) {
    .tech-stack .desc,
    .open-positions .desc,
    .our-vision .desc {
        padding: 10px 200px 0;
    }
}

@media (max-width: 992px) {
    .tech-stack .desc,
    .open-positions .desc,
    .our-vision .desc {
        padding: 10px 150px 0;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .tech-stack .desc,
    .open-positions .desc,
    .our-vision .desc {
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }

    .banner {
        height: 500px;
    }

    .logo-image {
        margin: auto;
    }

    .contact .list .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .contact .list .text-wrap {
        margin-left: 0;
        text-align: center;
    }
    .contact .list .text-title,
    .contact .list .text-content {
        margin-top: 15px;
    }
}
